<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{{ path('dashboard.index') }}" class="brand-link">
        <span class="brand-text font-weight-light"><i class="fab fa-get-pocket"></i> BeFree</span>
    </a>

    <div class="sidebar font-weight-light">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="pull-left image">
                <img src="assets/img/avatar.png" class="img-circle elevation-2">
            </div>
            <div class="info">
                <a class="pull-left" href="{{ 'users.edit' }}" class="d-block">{{ activeUser.name }}</a><br />
                <a href="{{ 'logout' }}" class="btn btn-sm btn-danger btn-flat pull-right"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">NAVIGATION</li>
                <li class="nav-item {{ page.active == 'dashboard.index' ? 'active' : '' }}">
                    <a href="{{ path('dashboard.index') }}" class="nav-link {{ page.active == 'dashboard.index' ? 'active' : '' }}">
                        <i class="fas fa-home"></i>&nbsp; <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'siteInfo' ? 'active' : '' }}">
                    <a href="site-info.php" class="nav-link {{ page.active == 'siteInfo' ? 'active' : '' }}">
                        <i class="fas fa-info-circle"></i>&nbsp; <p>Site Info</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'ipWhitelist' ? 'active' : '' }}">
                    <a href="ip-whitelist.php" class="nav-link {{ page.active == 'ipWhitelist' ? 'active' : '' }}">
                        <i class="fas fa-flag"></i>&nbsp; <p>IP Whitelist</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'warningPages' ? 'active' : '' }}">
                    <a href="warning-pages.php" class="nav-link {{ page.active == 'warningPages' ? 'active' : '' }}">
                        <i class="fas fa-file-alt"></i>&nbsp; <p>Warning Pages</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'users.index' ? 'active' : '' }}">
                    <a href="users.php" class="nav-link {{ page.active == 'users.index' ? 'active' : '' }}">
                        <i class="fas fa-users"></i>&nbsp; <p>Users</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'users.loginHistory' ? 'active' : '' }}">
                    <a href="login-history.php" class="nav-link {{ page.active == 'users.loginHistory' ? 'active' : '' }}">
                        <i class="fas fa-history"></i>&nbsp; <p>Login History</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'checkUpdate' ? 'active' : '' }}">
                    <a href="update-check.php" class="nav-link {{ page.active == 'checkUpdate' ? 'active' : '' }}">
                        <i class="fas fa-sync"></i>&nbsp; <p>Check for Updates</p>
                    </a>
                </li>


                <li class="nav-header">SECURITY</li>

                <li class="nav-item {{ page.active == 'sqlInjection' ? 'active' : '' }}">
                    <a href="sql-injection.php" class="nav-link {{ page.active == 'sqlInjection' ? 'active' : '' }}">
                        <i class="fas fa-code"></i>&nbsp;
                        <p>SQL Injection
                            <span class="right badge {{ modules.sqlInjection ? 'badge-success' : 'badge-danger' }}">
                                {{ modules.sqlInjection ? 'ON' : 'OFF' }}
                            </span>
                        </p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'massRequest' ? 'active' : '' }}">
                    <a href="mass-requests.php" class="nav-link {{ page.active == 'massRequest' ? 'active' : '' }}">
                        <i class="fas fa-retweet"></i>&nbsp;
                        <p>Mass Requests
                            <span class="right badge {{ modules.massRequest ? 'badge-success' : 'badge-danger' }}">
                                {{ modules.massRequest ? 'ON' : 'OFF' }}
                            </span>
                        </p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'spam' ? 'active' : '' }}">
                    <a href="spam.php" class="nav-link {{ page.active == 'spam' ? 'active' : '' }}">
                        <i class="fas fa-keyboard"></i>&nbsp;
                        <p>Spam
                            <span class="right badge {{ modules.spam ? 'badge-success' : 'badge-danger' }}">
                                {{ modules.spam ? 'ON' : 'OFF' }}
                            </span>
                        </p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'proxy' ? 'active' : '' }}">
                    <a href="proxy.php" class="nav-link {{ page.active == 'proxy' ? 'active' : '' }}">
                        <i class="fas fa-globe"></i>&nbsp;
                        <p>Proxy
                            <span class="right badge {{ modules.proxy ? 'badge-success' : 'badge-danger' }}">
                                {{ modules.proxy ? 'ON' : 'OFF' }}
                            </span>
                        </p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'badbots' ? 'active' : '' }}">
                    <a href="badbots.php" class="nav-link {{ page.active == 'badbots' ? 'active' : '' }}">
                        <i class="fas fa-user-secret"></i>&nbsp;
                        <p>Bad Bots
                            <span class="right badge {{ modules.badbots ? 'badge-success' : 'badge-danger' }}">
                                {{ modules.badbots ? 'ON' : 'OFF' }}
                            </span>
                        </p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'torDetection' ? 'active' : '' }}">
                    <a href="tor-detection.php" class="nav-link {{ page.active == 'torDetection' ? 'active' : '' }}">
                        <i class="fas fa-globe"></i>&nbsp;
                        <p>Tor Detection
                            <span class="right badge {{ modules.torDetection ? 'badge-success' : 'badge-danger' }}">
                                {{ modules.torDetection ? 'ON' : 'OFF' }}
                            </span>
                        </p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'adblockerDetection' ? 'active' : '' }}">
                    <a href="adblocker-detection.php" class="nav-link {{ page.active == 'adblockerDetection' ? 'active' : '' }}">
                        <i class="fas fa-window-maximize"></i>&nbsp;
                        <p>AdBlocker Detection
                            <span class="right badge {{ modules.torDetection ? 'badge-success' : 'badge-danger' }}">
                                {{ modules.torDetection ? 'ON' : 'OFF' }}
                            </span>
                        </p>
                    </a>
                </li>


                <li class="nav-item has-treeview {{ page.active == 'allLogs' or 'sqliLogs' or 'massrequestLogs' or 'proxyLogs' or 'spammerLogs' or 'otherLogs' or 'logDetails' ? 'menu-open' : '' }}">
                    <a href="#" class="nav-link {{ page.active == 'allLogs' or 'sqliLogs' or 'massrequestLogs' or 'proxyLogs' or 'spammerLogs' or 'otherLogs' or 'logDetails' ? 'active' : '' }}">
                        <i class="fas fa-align-justify"></i>&nbsp;
                        <p>Logs <i class="fas fa-angle-right right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item {{ page.active == 'allLogs' ? 'active' : '' }}">
                            <a href="all-logs.php" class="{{ page.active == 'allLogs' ? 'active' : '' }}">
                                <i class="fas fa-align-justify"></i>&nbsp;
                                <p>All Logs <span class="badge right badge-info">##{{ modules.allLogs.count }}</span></p>
                            </a>
                        </li>

                        <li class="nav-item "><a href="sqli-logs.php" class="nav-link {{ page.active == 'sqliLogs' ? 'active' : '' }}">
                                <i class="fas fa-code"></i>&nbsp;
                                <p>SQLi Logs <span class="badge right badge-primary">##{{  modules.allLogs.count }}</span></p>
                            </a>
                        </li>

                        <li class="nav-item {{ page.active == 'massrequestLogs' ? 'active' : '' }}">
                            <a href="massrequest-logs.php" class="nav-link {{ page.active == 'massrequestLogs' ? 'active' : '' }}">
                                <i class="fas fa-retweet"></i>&nbsp; <p>Mass Requests <span class="badge right badge-danger">##{{ modules.massrequestLogs.count }}</span></p>
                            </a>
                        </li>


                        <li class="nav-item {{ page.active == 'spammerLogs' ? 'active' : '' }}">
                            <a href="spammer-logs.php" class="nav-link {{ page.active == 'spammerLogs' ? 'active' : '' }}">
                                <i class="fas fa-keyboard"></i>&nbsp;
                                <p>Spam Logs <span class="badge right badge-warning">##{{ modules.spammerLogs.count }}</span></p>
                            </a>
                        </li>


                        <li class="nav-item {{ page.active == 'proxyLogs' ? 'active' : '' }}">
                            <a href="proxy-logs.php" class="nav-link {{ page.active == 'spammerLogs' ? 'active' : '' }}">
                                <i class="fas fa-globe"></i>&nbsp;
                                <p>Proxy Logs <span class="badge right badge-success">##{{ modules.proxyLogs.count }}</span></p>
                            </a>
                        </li>


                        <li class="nav-item {{ page.active == 'otherLogs' ? 'active' : '' }}">
                            <a href="other-logs.php" class="nav-link <{{ page.active == 'otherLogs' ? 'active' : '' }}">
                                <i class="fas fa-user-secret"></i>&nbsp; <p>Other Logs</p>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item has-treeview {{ page.active == 'bansIp' or 'bansCountry' or 'bansOther' ? 'menu-open' : '' }}">
                    <a href="#" class="nav-link {{ page.active == 'bansIp' or 'bansCountry' or 'bansOther' ? 'active' : '' }}">
                        <i class="fas fa-ban"></i>&nbsp;
                        <p>Bans <i class="fas fa-angle-right right"></i></p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item {{ page.active == 'bansIp' or 'bansCountry' or 'bansOther' ? 'menu-open' : '' }}">
                            <a href="bans-ip.php" class="nav-link {{ page.active == 'bansIp' ? 'active' : '' }}">
                                <i class="fas fa-user"></i>&nbsp;
                                <p>IP Bans <span class="badge right badge-danger">##{{ modules.bansIp.count }}</span></p>
                            </a>
                        </li>

                        <li class="nav-item {{ page.active == 'bansCountry' ? 'active' : '' }}">
                            <a href="bans-country.php" class="nav-link {{ page.active == 'bansCountry' ? 'active' : '' }}">
                                <i class="fas fa-globe"></i>&nbsp;
                                <p>Country Bans <span class="badge right badge-danger">##{{ modules.bansCountry }}</span></p>
                            </a>
                        </li>

                        <li class="nav-item {{ page.active == 'bansOther' ? 'active' : '' }}">
                            <a href="bans-other.php" class="nav-link {{ page.active == 'bansOther' ? 'active' : '' }}">
                                <i class="fas fa-desktop"></i>&nbsp; <p>Other Bans</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item {{ page.active == 'malwareScanner' ? 'active' : '' }}">
                    <a href="malware-scanner.php" class="nav-link {{ page.active == 'malwareScanner' ? 'active' : '' }}">
                        <i class="fas fa-search"></i>&nbsp; <p>Malware Scanner</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'contentProtection' ? 'active' : '' }}">
                    <a href="content-protection.php" class="nav-link {{ page.active == 'contentProtection' ? 'active' : '' }}">
                        <i class="fas fa-file-alt"></i>&nbsp; <p>Content Protection</p>
                    </a>
                </li>

                <li class="nav-header">SECURITY CHECK</li>
                <li class="nav-item {{ page.active == 'phpFunctionsCheck' ? 'active' : '' }}">
                    <a href="phpfunctions-check.php" class="nav-link {{ page.active == 'phpFunctionsCheck' ? 'active' : '' }}">
                        <i class="fas fa-check"></i>&nbsp; <p>PHP Functions</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'phpConfigCheck' ? 'active' : '' }}">
                    <a href="phpconfig-check.php" class="nav-link {{ page.active == 'phpConfigCheck' ? 'active' : '' }}">
                        <i class="fab fa-php"></i>&nbsp; <p>PHP Configuration</p>
                    </a>
                </li>

                <li class="nav-header">ANALYTICS</li>
                <li class="nav-item {{ page.active == 'liveTraffic' ? 'active' : '' }}">
                    <a href="live-traffic.php" class="nav-link {{ page.active == 'liveTraffic' ? 'active' : '' }}">
                        <i class="fas fa-globe"></i>&nbsp; <p>Live Traffic</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'visitAnalytics' ? 'active' : '' }}">
                    <a href="visit-analytics.php" class="nav-link {{ page.active == 'visitAnalytics' ? 'active' : '' }}">
                        <i class="fas fa-chart-line"></i>&nbsp; <p>Visit Analytics</p>
                    </a>
                </li>

                <li class="nav-header">MONITORING</li>
                <li class="nav-item {{ page.active == 'websiteMonitoring' ? 'active' : '' }}">
                    <a href="website-monitoring.php" class="nav-link {{ page.active == 'websiteMonitoring' ? 'active' : '' }}">
                        <i class="fas fa-desktop"></i>&nbsp; <p>Website Monitoring</p>
                    </a>
                </li>


                <li class="nav-header">TOOLS</li>
                <li class="nav-item {{ page.active == 'portScanner' ? 'active' : '' }}">
                    <a href="{{ path('tools.portScanner') }}" class="nav-link {{ page.active == 'portScanner' ? 'active' : '' }}">
                        <i class="fas fa-search"></i>&nbsp; <p>Port Scanner</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'htaccessEditor' ? 'active' : '' }}">
                    <a href="{{ path('tools.htaccessEditor') }}" class="nav-link {{ page.active == 'htaccessEditor' ? 'active' : '' }}">
                        <i class="fas fa-columns"></i>&nbsp; <p>.htacces Editor</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'errorMonitoring' ? 'active' : '' }}">
                    <a href="{{ path('tools.errorMonitoring') }}" class="nav-link {{ page.active == 'errorMonitoring' ? 'active' : '' }}">
                        <i class="fas fa-exclamation-circle"></i>&nbsp; <p>Error Monitoring</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'ipBlacklistChecker' ? 'active' : '' }}">
                    <a href="{{ path('tools.ipBlackListChecker') }}" class="nav-link {{ page.active == 'ipBlacklistChecker' ? 'active' : '' }}">
                        <i class="fas fa-list"></i>&nbsp; <p>IP Blacklist Checker</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'htmlEncrypter' ? 'active' : '' }}">
                    <a href="{{ path('tools.htmlEncrypter') }}" class="nav-link {{ page.active == 'htmlEncrypter' ? 'active' : '' }}">
                        <i class="fas fa-code"></i>&nbsp; <p>HTML Encrypter</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'passwordGenerator' ? 'active' : '' }}">
                    <a href="{{ path('tools.passwordGenerator') }}" class="nav-link {{ page.active == 'passwordGenerator' ? 'active' : '' }}">
                        <i class="fas fa-key"></i>&nbsp; <p>Password Generator</p>
                    </a>
                </li>

                <li class="nav-item {{ page.active == 'hashing' ? 'active' : '' }}">
                    <a href="{{ path('tools.hashing') }}" class="nav-link {{ page.active == 'hashing' ? 'active' : '' }}">
                        <i class="fas fa-lock"></i>&nbsp; <p>Hashing</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
