{% extends 'includes/dashboard-layout.twig' %}

{% block breadcrumb %}
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark"><i class="fas fa-search"></i> Port Scanner</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="{{ path('dashboard.index') }}"><i class="fas fa-home"></i> Admin Panel</a></li>
						<li class="breadcrumb-item active">Port Scanner</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block content %}
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-9">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Port Scanner</h3>
						</div>
						<div class="card-body">
							<form method="post" action="{{ path('portScanner') }}">IP / Domain:
								<input type="text" class="form-control" name="ipdomain" placeholder="example.com" required/><br />
								<input type="submit" class="btn btn-primary btn-block btn-flat" value="Scan" />
							</form>
						</div>
					</div>

					{% if results %}
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Scan results for <b>{{ ipdomain }}</b></h3>
							</div>
							<div class="card-body">
								<div class="table-responsive"><table class="table table-bordered table-hover">
										<thead>
										<tr>
											<th><i class="fas fa-dot"></i> Port</th>
											<th><i class="fas fa-cogs"></i> Service</th>
											<th><i class="fas fa-info-circle"></i> Status</th>
										</tr>
										</thead>
										<tbody>
                                        {#{% foreach r in results %}#}
											{#<tr>#}
												{#<td>{{ r.port }}</td>#}
												{#<td>{{ r.prot }}</td>#}
												{#{% if r.port %}#}
													{#<td>#}
														{#<a href="http://{{ ipdomain }}:{{ r.port }}" target="_blank" class="badge badge-danger" style="font-size: 13px;">#}
															{#<i class="fas fa-unlock"></i> Open#}
														{#</a>#}
													{#</td>#}
												{#{% else %}#}
													{#<td>#}
												{#<span class="badge badge-success" style="font-size: 13px;">#}
													{#<i class="fas fa-lock"></i> Closed#}
												{#</span>#}
													{#</td>#}
												{#{% endif %}#}
											{#</tr>#}
                                        {#{% endforeach %}#}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">What is Port Scanning</h3>
						</div>
						<div class="card-body">
							Port Scanning is the name for the technique used to identify open ports and services available on a network host. Port Scanning is used to determine which ports are open and vulnerable to attacks.
							<br /><br />
							Port Scanning is a slow proccess and can take a while.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block pageScript %}
	<script>
        $(document).ready(function() {

            $('#dt-basic').dataTable( {
                "responsive": true,
                "language": {
                    "paginate": {
                        "previous": '<i class="fas fa-angle-left"></i>',
                        "next": '<i class="fas fa-angle-right"></i>'
                    }
                }
            } );
        } );
	</script>
{% endblock %}